.text1{
    font-size: 14px;
}

.emphasis{
    font-size: 35px;
    font-weight: bold;
    color: red;
}

.text2{
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(transparent 75%,yellow 75%);
}

.link{
    font-size: 14px;
    color: blue;
}